<%- await include('../_partials/header.ejs') %>

<!-- TODO unfinished translations -->
<div class="row">
    <div class="col-md-12">
        <div class="card-container" id="about">
            <div class="card-content">

                <div class="col-md-12 text-center title-container">
                    <span class="gradient-title"><%- i18n('press.title') %></span>
                </div>

                <div class="col-md-10 col-md-offset-1">
                    <div class="padded-text text-center"><%- i18n('press.body') %></div>
                </div>

                <!-- <div class="col-md-12 text-center title-container">
                    <span class="gradient-title"><%- i18n('press.video.title') %></span>
                </div>

                <div class="col-md-12 text-center title-container">
                    <div class="wise-iframe-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/tAeORG63hTk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-md-12 text-center title-container">
                    <span class="gradient-title"><%- i18n('press.photos.title') %></span>
                </div> -->

                <div class="col-md-4">
                    <div class="thumbnail">
                        <a target="_blank" href="<%- config.urls.cdn %>/img/press/bs-zadnjaseja.png"><img src="<%- config.urls.cdn %>/img/press/bs-zadnjaseja.png"></a>
                        <div class="caption">
                            <div class="caption-text">&nbsp;</div>
                            <div class="caption-icon"><a target="_blank" href="<%- config.urls.cdn %>/img/press/bs-zadnjaseja.png"><i class="glyphicon glyphicon-cloud"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a target="_blank" href="<%- config.urls.cdn %>/img/press/p-bs-klubovi.png"><img src="<%- config.urls.cdn %>/img/press/p-bs-klubovi.png"></a>
                        <div class="caption">
                            <div class="caption-text">&nbsp;</div>
                            <div class="caption-icon"><a target="_blank" href="<%- config.urls.cdn %>/img/press/p-bs-klubovi.png"><i class="glyphicon glyphicon-cloud"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a target="_blank" href="<%- config.urls.cdn %>/img/press/bs-delegati.png"><img src="<%- config.urls.cdn %>/img/press/bs-delegati.png"></a>
                        <div class="caption">
                            <div class="caption-text">&nbsp;</div>
                            <div class="caption-icon"><a target="_blank" href="<%- config.urls.cdn %>/img/press/bs-delegati.png"><i class="glyphicon glyphicon-cloud"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a target="_blank" href="<%- config.urls.cdn %>/img/press/p-bs-poslaniki.png"><img src="<%- config.urls.cdn %>/img/press/p-bs-poslaniki.png"></a>
                        <div class="caption">
                            <div class="caption-text">&nbsp;</div>
                            <div class="caption-icon"><a target="_blank" href="<%- config.urls.cdn %>/img/press/p-bs-poslaniki.png"><i class="glyphicon glyphicon-cloud"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a target="_blank" href="<%- config.urls.cdn %>/img/press/Parlametar_logo.pdf"><img src="<%- config.urls.cdn %>/img/press/bs-logo-svetel.png"></a>
                        <div class="caption">
                            <div class="caption-text">&nbsp;</div>
                            <div class="caption-icon"><a target="_blank" href="<%- config.urls.cdn %>/img/press/Parlametar_logo.pdf"><i class="glyphicon glyphicon-cloud"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a target="_blank" href="<%- config.urls.cdn %>/img/press/Parlametar_logo-invert.pdf"><img src="<%- config.urls.cdn %>/img/press/bs-logo-temen.png"></a>
                        <div class="caption">
                            <div class="caption-text">&nbsp;</div>
                            <div class="caption-icon"><a target="_blank" href="<%- config.urls.cdn %>/img/press/Parlametar_logo-invert.pdf"><i class="glyphicon glyphicon-cloud"></i></a></div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<%- await include('../_partials/footer.ejs') %>
