<div class="session-container">
  <div class="row header  text-center">
    <div class="col-lg-12">
      <div class="media-object img-circle session-logo backgroundred">
        <b>S</b>
      </div>
      <h1><%- session.name %></h1>
      <h2><%- session.organization.name %></h2>
      <div class="date">
        <%- formatDate(session.start_time) %>
      </div>
      <div class="datepublished">
        <%- i18n('general.data_published') %>: <%- formatDate(session.start_time) %> <%= session.in_review ? i18n('general.in_review') : '' %>
      </div>
    </div>
  </div>
</div>
